extends ../layout

block content
  
  h1 New task view
  
  form(method= 'post', action='/task')
    fieldset
      legend Add a task
      div.clearfix
        label Task &nbsp
          input(name='taskName', class='xlarge')
        label Detail &nbsp
          input(name='taskDetail', class='xlarge')
    div.actions
      input(type='submit', value='Save', class='btn btn-primary')
      &nbsp      
      a(href="/task", class='btn') Cancel